<div class="container-fluid">
  <div class="row">
    <div class="col-12 ">
      <!-- Doing that, page refresh on evry click. Bad.-->
      <ul class="nav nav-tabs">

        <li role="presentation" class="nav-item" >
          <a class="nav-link"
            routerLink="/" 
            routerLinkActive="active"
            [routerLinkActiveOptions]="{exact: true}"
            >
            Home</a>
        </li>
<!--[routerLink es como un href dinamico]
        <li role="presentation" class="nav-item">
          <a [routerLink]="['consulations']" 
             routerLinkActive="active" 
            class="nav-link">
            Consulations</a>
        </li>
-->
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <router-outlet></router-outlet>
    </div>
  </div>

</div>